[alias]
  alias        = !git config -l | grep alias | cut -c 7- | sort
  amend        = commit -a --amend --no-edit
  br           = branch
  branch-name  = !git rev-parse --abbrev-ref HEAD
  brl          = !git for-each-ref --color=always --sort=-committerdate refs/heads --format='%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:red)%(objectname:short)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)'|column -ts'|'
  ci           = commit -v
  co           = checkout
  cob          = checkout -b
  com          = "!f() { git checkout $(git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed 's@^refs/remotes/origin/@@' || echo main); }; f"
  fix          = "!f() { ${EDITOR} $(git diff --name-only); }; f"
  flush        = "!f() { default=$(git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed 's@^refs/remotes/origin/@@') || default=main; git branch --merged $default | grep -v $default | xargs git branch -d && git remote prune origin; }; f"
  new          = !git pull origin $(git branch-name)
  pub          = !git push origin $(git branch-name)
  hist         = log --pretty=format:\"%Cred%h%Creset %ad | %s%d %C(bold blue)[%an]%Creset %Cgreen(%cr)%Creset\" --graph --date=short
  last         = !git hist -1
  lgrep        = grep --heading --break
  me           = !git hist --author=$(git config user.email)
  sha          = !git rev-parse HEAD | cut -c -8 | tr -d '\n' | pbcopy
  st           = status
  this         = !git init && git add . && git commit -m 'Initial commit'
  wip          = commit -am 'WIP'
[color]
  ui           = true
[core]
  autocrlf     = input
  editor       = nvim
  pager        = less -FRX
[credential]
  helper       = osxkeychain
[pull]
  rebase       = true
[user]
  name         = Michael Joseph Kramer
  email        = michael@sage.house
[init]
  defaultBranch = main
[grep]
  extendRegexp = true
  fullName     = true
  lineNumber   = true
